<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>BBSProject</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <display-name>charsetFilter</display-name>
        <filter-name>charsetFilter</filter-name>
        <filter-class>stubar.filter.charsetFilter</filter-class>
        <init-param>
            <param-name>charset</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <servlet>
        <description>处理用户注册登录的Servlet</description>
        <display-name>userServlet</display-name>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>stubar.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>logoutServlet</display-name>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>stubar.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>userInfoServlet.do</display-name>
        <servlet-name>userInfoServlet.do</servlet-name>
        <servlet-class>stubar.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInfoServlet.do</servlet-name>
        <url-pattern>/userInfoServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>textServlet</display-name>
        <servlet-name>textServlet</servlet-name>
        <servlet-class>stubar.servlet.TextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>textServlet</servlet-name>
        <url-pattern>/textServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>indexServlet</display-name>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>stubar.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>cityAjax</display-name>
        <servlet-name>cityAjax</servlet-name>
        <servlet-class>stubar.servlet.CityAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cityAjax</servlet-name>
        <url-pattern>/cityAjax</url-pattern>
    </servlet-mapping>
</web-app>